@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

:root {
  font-size: 16px;
  --cor-primaria: #06b6d4;
  --cor-secundaria-1: #db2777;
  --cor-secundaria-2: #f59e0b;
  --cor-fonte: #000;
  --cor-fonte-alt: #fff;
  --bg: #f0f9ff;
  --bg-card: #fff;
  --sombra: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Didact Gothic", sans-serif;
}

body {
  background: var(--bg);
}

#content {
  display: grid;
  grid-template: auto / 1fr 4fr;
}

ul,
li {
  list-style: none;
  list-style-type: none;
}

header {
  box-shadow: 0 2px 4px var(--sombra);
}

aside {
  background: var(--cor-primaria);
  color: var(--cor-fonte-alt);
  box-shadow: 1px 0 5px var(--sombra);
  grid-column: 1 / 2;
  grid-row: 1 / span 3;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px 0;
}

aside .logo {
  display: flex;
  justify-content: center;
  font-size: min(1.5rem, 44px);
  gap: 8px;
  align-items: center;
  padding: 8px;
}

aside .logo i {
  font-size: calc(min(1.5rem, 44px) + 12px);
}

aside .menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 32px;
}

.menu li a {
  padding: 6px;
}

aside a {
  color: #fff;
  text-decoration: none;
  display: flex;
  gap: 10px;
  font-size: 1.2rem;
}

aside a:hover {
  color: #eee;
}

aside .menu .selecionado * {
  background-color: var(--bg);
  color: var(--cor-fonte);
  border-radius: 4px 0 0 4px;
}

.card,
.em-alta > div {
  background: var(--bg-card);
  box-shadow: 1px 1px 4px var(--sombra);
}
