@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

:root {
  font-size: 16px;
  --cor-primaria: #06b6d4;
  --cor-secundaria-1: #db2777;
  --cor-secundaria-2: #fb7185;
  --cor-fonte: #000;
  --cor-fonte-alt: #fff;
  --bg: #f0f9ff;
  --bg-card: #fff;
  --sombra: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: var(--bg);
}

#content {
  display: grid;
  grid-template: auto / 1fr 4fr;
  min-height: 100vh;
}

ul,
li {
  list-style: none;
  list-style-type: none;
}

input {
  font-size: 1rem;
  padding: 4px;
  border: 1px solid var(--bg);
  color: var(--cor-fonte);
  outline: none;
  background-color: var(--bg);
  transition: border 0.3s;
}

input:focus {
  border: 1px solid var(--cor-primaria);
}

button {
  border: 1px solid var(--cor-primaria);
  background-color: var(--cor-primaria);
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, border 0.3s;
}

button:hover {
  background-color: var(--cor-secundaria-1);
  border: 1px solid var(--cor-secundaria-1);
}

header {
  margin: 16px;
  display: grid;
  gap: 16px;
  padding: 16px 40px;
}

header form {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-grow: 1;
}

header form input {
  border-radius: 4px 0 0 4px;
  width: max(70%, 300px);
  transition: all 0.3s;
}

header form input:focus {
  flex-grow: 1;
}

header form button {
  border-radius: 0 4px 4px 0;
}

header .busca {
  display: flex;
  gap: 24px;
  align-items: center;
}

header .busca .perfil {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 1.1rem;
  margin-left: auto;
}

header img {
  height: 42px;
  width: auto;
  border-radius: 50%;
}

header .saudacao {
  display: flex;
  align-items: center;
  gap: 16px;
}

.saudacao .perfil {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 8px;
  font-weight: 500;
}

.saudacao .perfil img {
  grid-row: span 2;
  height: 58px;
}

.saudacao .perfil span {
  font-size: 0.9rem;
  align-self: end;
}

.saudacao .perfil p {
  font-size: 1.3rem;
  align-self: start;
}

.saudacao .acoes {
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

aside {
  background: var(--cor-primaria);
  color: var(--cor-fonte-alt);
  grid-column: 1 / 2;
  grid-row: 1 / span 3;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px 0;
}

aside .logo {
  display: flex;
  justify-content: center;
  font-size: min(1.5rem, 44px);
  gap: 8px;
  align-items: center;
  padding: 8px;
}

aside .logo i {
  font-size: calc(min(1.5rem, 44px) + 12px);
}

aside .menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: 32px;
}

.menu li a {
  padding: 8px;
}

aside a {
  color: #fff;
  text-decoration: none;
  display: flex;
  gap: 10px;
  font-size: 1.2rem;
}

aside a:hover {
  color: #eee;
}

aside .menu .selecionado {
  background-color: var(--bg);
  border-radius: 4px 0 0 4px;
}

aside .menu .selecionado * {
  color: var(--cor-fonte);
}

header,
.card,
.em-alta > div {
  background: var(--bg-card);
  box-shadow: 1px 1px 4px var(--sombra);
  background: var(--bg-card);
  border-radius: 4px;
}

main {
  display: grid;
  padding: 16px;
  grid-template: auto auto / 3fr 1fr;
  gap: 16px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

section h2 {
  font-weight: 400;
}

.projetos {
  grid-row: span 2;
}

.projetos > div {
  display: grid;
  gap: 16px;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.projetos .card {
  display: grid;
  grid-template-columns: 6px 1fr;
}

.projetos .card .barra {
  background: linear-gradient(
    135deg,
    var(--cor-secundaria-1),
    var(--cor-secundaria-2)
  );
  border-radius: 4px 0 0 4px;
}

.projetos .card .conteudo {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.projetos .card .conteudo p {
  font-size: 0.9rem;
  color: #444;
}

.projetos .card h3 {
  font-weight: 500;
  font-size: 1.2rem;
}

.projetos .card .acoes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  margin-top: auto;
}

.projetos .card .acoes button {
  background: var(--bg-card);
  border: none;
  color: var(--cor-primaria);
  font-size: 1.2rem;
  padding: 8px;
}

.card .acoes button:hover {
  color: var(--cor-secundaria-1);
}
